.gritter-success{background:rgba(89,131,75,.92)}

.modal-dialog {
    margin: 1.75rem auto;
    max-width: 100%;    

}

/* Color of invalid field */
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}