{% extends 'AplicationDefaultBundle:Layout:layout.html.twig' %}

{% block container_fluid %}
    <div class="container-fluid">
        {% block breadcrumb %}
            {#<!-- Breadcrumbs-->#}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('administration_default_dinner_index') }}">Administración</a>
                </li>
                <li class="breadcrumb-item active">Cargar comensales</li>
            </ol>
            {#<!-- Icon Cards-->#}
        {% endblock breadcrumb %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">Seleccione el archivo a importar</div>
                <div class="row col-sm-12">
                      <div class="col-sm-5">
                            <form id="formUpload" autocomplete=off action="javascript:void(0)" enctype="multipart/form-data" method="post">  
                              <div class="form-group row">
                                   <label class="col-sm-2">
                                      Empresa:
                                  </label>
                                    <div class="col-sm-10"> 
                                        <select class="required" name="companyId" style="width:270px">
                                          <option value="">--Seleccione--</option>
                                          {% for item in companies %}
                                            <option value="{{item.id}}">{{item.businessname}}</option>
                                          {% endfor %}
                                        </select>
                                    </div>  
                               </div> 
                               <div class="form-group row">
                                  <label class="col-sm-2">
                                      
                                  </label>
                                    <div class="col-sm-10"> 
                                        <input type="file" class="required" name="fileUpload" accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"> 
                                    </div>  
                               </div> 
                               <div class="form-group row content-progress" style="display:none">
                                  <label class="col-sm-2">
                                      
                                  </label>
                                  <div class="col-sm-5">
                                     <div class="progress">
                                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>

                                    </div>
                                   
                                    Procesando por favor espere...
                                  </div>
                               </div>
                               <div class="form-group row content-info-message" style="display:none">
                                   <label class="col-sm-2">
                                      
                                   </label>
                                   <div id="info-message" class="alert">

                                   </div>
                               </div> 
                               <div class="form-group row">
                                  <label class="col-sm-2">
                                      
                                  </label>
                                   <div class="col-sm-10"> 
                                      <input type="submit" id="btnImport" name="submit" value="Validar e importar" class="btn btn-primary"/>
                                   </div>
                               </div> 
                            </form>
                         </div>  
                         <div class="col-sm-7">
                            <div>
                                <table class="table table-bordered" style="font-size:10px">
                                    <thead >
                                      <tr><th colspan="6" scope="col" class="text-center"><span>FORMATO</span></th></tr>
                                      <tr>
                                        <th scope="col"><b>Identificación</b></th>
                                        <th scope="col"><b>Nombres</b></th>
                                        <th scope="col"><b>Apellidos</b></th>
                                        <th scope="col"><b>Unidad</b></th>
                                        <th scope="col"><b>Código centro de costos</b></th>
                                        <th scope="col"><b>Nombre centro de costos</b></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          <th>&nbsp;</th>
                                          <td>&nbsp;</td>
                                          <th>&nbsp;</th>
                                          <td>&nbsp;</td>
                                          <th>&nbsp;</th>
                                          <th>&nbsp;</th>                                         
                                        </tr>
                                    </tbody>    
                                </table>
                            </div>
                            <div id="info-errors" class="alert alert-danger" style="display:none">

                            </div>
                         </div> 
                     </div>    
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
{% endblock container_fluid %}
{% block foot_script_assetic %}
    <script type="text/javascript" charset="utf-8">
        $(function () {

             $("#formUpload").validate({
                            errorElement: 'div',
                            errorClass: 'help-block',
                            focusInvalid: true,
                            highlight: function (e) {
                                    $(e).closest('.form-group').removeClass('has-info').removeClass('has-success').addClass('has-error');                            

                            },

                            success: function (e,el) {
                                    $(e).closest('.form-group').removeClass('has-error');
                                    $(e).remove();
                            }
                       }); 

             $("#formUpload").submit(function(event, data){

                   event.stopPropagation(); // Stop stuff happening
                   event.preventDefault(); // Totally stop stuff happening 
                    
                   if($(this).valid()){
                        hideMessages();
                        // Create a formdata object 
                        var formData = new FormData($(this)[0]);
                        $.ajax({
                            url: '{{path('administration_default_roster_upload')}}',
                            type: 'POST',
                            data: formData,
                            cache: false,
                            async: false,
                            dataType: 'json',
                            processData: false, // Don't process the files
                            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                            beforeSend: function(){
                                $(".content-progress").show();
                            },
                            success: function(data, textStatus, jqXHR)
                            {
                                 $(".content-progress").hide();
                                 showMessages(data.status,data.message,data.errors); 
                                 
                                 if(data.status){
                                    clearForm(); 
                                 }
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {  
                                 $(".content-progress").hide();
                                 showMessages(0,"No es posible cargar el archivo",null);
                            }
                        });
                  }
                return false;

             });
        });

    function showMessages(status,message,errors){
         var strclass="alert-danger";
         if(status){
             strclass="alert-success";
         }
         $(".content-info-message").show();
         $("#info-message").addClass(strclass).html(message);

         if(errors.length){
             showErrors(errors);
         }else{
             $("#info-errors").empty();
         }
    }

    function hideMessages(){
         $("·content-info-message,#info-errors").hide();
         $("#info-message").removeClass("alert-danger").removeClass("alert-success").empty();
         $("#info-errors").empty();
    }

    function clearForm(){
        $("#formUpload").reset();
            
    }



    function showErrors(errors){
          var objError=$("#info-errors");
          for (var i = 0; i <errors.length; i++) {
              objError.append("- "+errors[i]+"<br/>");
          }

          $(objError).show();
    }

    </script>
{% endblock foot_script_assetic %}

