{% extends 'AplicationDefaultBundle:Layout:layout.html.twig' %}

{% block container_fluid %}
    <div class="container-fluid">
        {% block breadcrumb %}
            {#<!-- Breadcrumbs-->#}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('_aplication_default_layout') }}">Seguridades</a>
                </li>
                <li class="breadcrumb-item active">Roles</li>
            </ol>
            {#<!-- Icon Cards-->#}
        {% endblock breadcrumb %}
        <div class="row">
            <div class="col-12">
                {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}

                  {% block kit_grid_filter %}
                    <div class="input-group">
                      <button type="button" id="btnNew" class="btn btn-default">Nuevo</button>
                    </div>
                    <hr/>
                    {{parent()}}
                  {% endblock %}

                  {% block kit_grid_thead_column %}
                      <th >Acción</th>
                  {% endblock %}

                  {% block kit_grid_tbody_column %}
                      <td>
                        <a href="javascript:void(0)" onclick="openEditForm({{item['role.id']}})"
                        title="Editar"><i class="fa fa-pencil bigger-125 fa-fw" ></i></a>&nbsp;|&nbsp;<a href="javascript:void(0)" onclick="assignPermission({{item['role.id']}})" title="Permisos"><i class="fa fa-lock bigger-125 fa-fw"></i></a>&nbsp;|&nbsp;<a href="javascript:void(0)" onclick="deleteRecord({{item['role.id']}})" title="Eliminar"><i class="fa fa-trash bigger-125 fa-fw"></i></a></td>
                      
                  {% endblock %}

              {% endembed %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
{% endblock container_fluid %}



{% block foot_script_assetic %}
<script type="text/javascript" charset="utf-8">
	$(function(){
		$("#btnNew").click(function(){      
      openAddForm();
    });
	});
  
	function openAddForm(){

		var div=$("<div>",{id:'divAdd'});
		$(div).modalForm({
			url:"{{path('aplication_default_role_add')}}",
			autoOpen:true,
			align:'center',
      width:'35%',
			urlSubmit: "{{path('aplication_default_role_save')}}",
      onSuccess: function(){
            setTimeout(function(){
                            location.reload()
                        },500);
      }
		});
	}

	function openEditForm(id){
       var div=$("<div>",{id:'divEdit'});
      $(div).modalForm({
        url:"{{path('aplication_default_role_edit')}}/"+id,
        autoOpen:true,
        align:'center',
        width:'35%',
        urlSubmit: "{{path('aplication_default_role_save')}}/"+id,
        onSuccess: function(){
            setTimeout(function(){
                            location.reload()
                        },500);
        }
      });   
	}
  function deleteRecord(id){
       if(confirm('Está seguro de eliminar el registro?')){
           $.ajaxDeleteRowGrid({
               url:"{{path('aplication_default_role_delete')}}/"+id,
               onSuccess: function(){
                  setTimeout(function(){
                                  location.reload()
                              },500);
              }
           });
       }
  }

  function assignPermission(id){
      var div=$("<div>",{id:'divPerm'});
      $(div).modalForm({
        url:"{{path('aplication_default_role_permission')}}/"+id,
        autoOpen:true,
        align:'center',
        urlSubmit: "{{path('aplication_default_role_permission_save')}}/"+id,
        width:'50%',
        /*onSuccess: function(){
            setTimeout(function(){
                            location.reload()
                        },500);
        }*/
      });   
  }

</script>
{% endblock foot_script_assetic %}

