
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
	<form>
		<div class="table-responsive">
		<table class="table table-bordered table-hover">			
			<thead class="thead-dark">
				<tr>
					<th scope="col">Menu</th>
					<th scope="col">Visualizar</th>
					<th scope="col">Agregar</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{% for item in menusrole %}
				    {% set menu_id=item['menu_id'] %}
				    <tr>
				    	<th scope="row">{{item['menu_title']}}</th>
				    	<td class="text-center"><input name="permissions[{{menu_id}}][view]" value=1 type='checkbox' {{(item['view'])?'checked=true':null}}/></td>
				    	<td class="text-center"><input name="permissions[{{menu_id}}][add]" value=1 type='checkbox' {{(item['add'])?'checked=true':null}}/></td>
				    	<td class="text-center"><input name="permissions[{{menu_id}}][edit]" value=1 type='checkbox' {{(item['edit'])?'checked=true':null}}/></td>
				    	<td class="text-center"><input name="permissions[{{menu_id}}][delete]" value=1 type='checkbox' {{(item['delete'])?'checked=true':null}}/></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</form>

{%endblock view_content %}  
