{% extends '::base.html.twig' %}



{% block body %} 
    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Apertura de comedor</div>

                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form  class="form-horizontal" role="form" action="{{path('_bussiness_default_ticketrelease_ticket')}}" method="post" id="frmparameters" data-toggle="validator">

                        Comedor
                            <br>
                        <select name="dinner" id="dinner" required>
                            {%for dinneruser in objdinneruser%}
                                
                                <option value="{{dinneruser.dinner.id}}" >{{dinneruser.dinner.name}} - {{dinneruser.dinner.location}}</option>
                          
                            {% endfor%}
                        </select>
                        <br>
                        <br>


                        <div style="margin-left: 10px; text-align: center" class="form-group" >
                            <!-- Button -->
                            <button class="btn btn-success btn-lg" type="submit" id="btnaceptar">Iniciar apertura comedor </button>

                        </div>







                </div>  
                </form>
            </div>  
        </div>

    </div>




{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}