{% extends '::base.html.twig' %}



{% block body %} 
    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Goddard Catering</div>
                    <div style="float:right; font-size: 100%; position: relative; top:-10px">Impresión Ticket</div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form  class="form-horizontal" role="form" action="#" method="post" id="frmticket">
                        <div class="input-group input-group-lg" style="text-align: center">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Ingrese la identificación" id="identification" name="identification">
                            </div>

                            <div style="margin-bottom: 25px;display: none" class="input-group" id="divreprintcode">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Código de autorización" id="reprintcode" name="reprintcode">
                                <br>
                            </div>
                            <div style="display: none">

                                Dinner
                                <input type="text" class="form-control" placeholder="dinner"
                                       aria-describedby="sizing-addon1" id="dinner" name="dinner" value="{{dinner}}">
                                <br>






                                cttransaction ticketgenerado
                                <input type="text" class="form-control" placeholder="cttransaction"
                                       aria-describedby="sizing-addon1" id="cttransaction" name="cttransaction" value="510">

                                <br>
                                ctstatus 
                                <input type="text" class="form-control" placeholder="ctstatus"
                                       aria-describedby="sizing-addon1" id="ctstatus" name="ctstatus" value="513">

                            </div>

                            <div style="margin-left: 10px; text-align: center" class="form-group" >
                                <!-- Button -->
                                <button class="btn btn-success btn-lg" type="button" id="print">Generar Ticket</button>
                                <button class="btn btn-primary btn-lg" type="button" id="cancelreprint">Cancelar reimpresión</button>
                                <div id="procesando" style="display: none"> Procesando por favor espere .....</div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >


                                    </div>
                                </div>
                            </div>    




                        </div>  
                    </form>
                </div>  
            </div>

        </div>




    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            $(function () {
                $("#cancelreprint").hide();
                $("#identification,#reprintcode").keypress(function (e) {
                    if (e.which == 13) {
                        // Acciones a realizar, por ej: enviar formulario.
                        sendFormTicket();
                    }
                });

                $("#print").click(function () {
                    sendFormTicket();
                })
            });

            function sendFormTicket() {
                var identification = $("#identification").val();
                var data = $("#frmticket").serialize();
                $("#identification").removeAttr("readonly");
                $("#cancelreprint").hide();
                $.ajax({
                    url: "{{path("_bussiness_default_ticketrelease_save")}}",
                    type: "post",
                    async: false,
                    dataType: "json",
                    data: data,
                    beforeSend: function (xhr) {
                        $("#print").hide();
                        $("#procesando").show();
                        
                    },
                    success: function (data) {
                         $("#identification").val("");
                         
                        if (data.status) {
                            var transaction_id = data.transaction_id;
                             $("#divreprintcode").hide();
                            window.open("http://37.139.9.128/ticket.php?id=" + transaction_id, "_blank", "toolbar=no,scrollbars=no,resizable=no,top=500,left=500,width=400,height=400");
                        } else {                            
                            alert(data.message);
                            $("#divreprintcode").hide();
                                 $("#reprintcode").val("");
                                 $("#cancelreprint").hide();
                            if(data.reprint){
                                 
                                 $("#cancelreprint").show();
                                 $("#divreprintcode").show();
                                 $("#reprintcode").show();
                                 $("#identification").val(identification);
                                 $("#identification").attr("readonly","readonly");
                                 $("#reprintcode").val("");
                                 
                            }
                        }


                    }
                }).done(function () {
                    $("#print").show();
                    $("#procesando").hide();
                   
                    $("#reprintcode").val("");
                    //$("#divreprintcode").hide();
                });
            }
            
            $("#cancelreprint").click(function (){
               $("#reprintcode").val("");
               $("#divreprintcode").hide();
                $("#identification").removeAttr("readonly");
                 $("#identification").val("");
                 $("#cancelreprint").hide();
            })


        </script>
    {% endblock %}