
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
    {% if form is defined and not form is empty%} 
      {#{ form(form) }#}

      {{ form_start(form, {'attr':{'id':'formUser','autocomplete':'off'}}) }}
        <div class="tabbable">
            {% include 'AplicationDefaultBundle::User/Partials/headTab.html.twig' %}
            <div class="tab-content" id='tabContent'>
                {% include 'AplicationDefaultBundle::User/Partials/tabPersonal.html.twig' %}
                {% include 'AplicationDefaultBundle::User/Partials/tabUser.html.twig' %}                
            </div>
        </div>
        {{ form_row(form._token) }}

        {{ form_end(form, { 'render_rest': false } ) }}

   {%endif%}
{%endblock view_content %}  
