
* {
    font-size: 12px;
}

body{
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    background:#FAFAFA; 
    text-align: left;
}

html, body {
    margin: 0;
    background:#abcdef; 
    padding: 0;
}


#header{
    text-align: left;
    margin: 2px auto;
    width: auto;
    padding: 2px 0;
    height: 100px;
}

#cuerpo{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    min-height: 300px;
}

#footer{
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    font-size: 1.4rem;
}


/*titulo de la aplicación que se muestra en el header*/
#divNombreAplicacion{
    color: #ffffff; 
    text-shadow: black 0.1em 0.1em 0.2em;
    overflow: hidden;
    width: 700px;
    height: 60px;
    margin-right: 3%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: left;
}

div.login{
    float: right;
    width: 300px;
}


/***** acciones con usuario logout, actuaizar **********************************/
a.lnkBoton{
    overflow: hidden;
    padding: 2px 0px 3px 2px;
    border: 1px #000000 solid;
    background-color: #49494B;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;
    opacity: 2,0;   
    margin-bottom: 2px;
    font-size: 0.8rem;
    color: #ffffff;
}


div.divPanelUsuario{
    color:#ffffff;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 10%;
    width: 220px;
    height: 90px;
    border: 1px #000000 solid;
    background-color: #49494B;
    opacity: 0.9;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px; 
    border-radius: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    text-align: center;
}


a.cerrar{
    text-decoration: none;
    color: #FFFFFF;
}



/*para los fieldset que estan dentro de un formulario*/
img{
    border: 0px;
}

a{text-decoration: none;}

.etiqueta{
    color: #4C4C4F; 
}

div.fila{
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 10px;
}

div.celda{
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
}

div.ayuda{
    display: none;
}

#content fieldset{
    background: #F7F9FC;
    border-color: #99BBE8;
    border-style: solid;
    border-width: thin;
}

.clsFieldset{
    background: #F7F9FC;
    border-color: #99BBE8;
    border-style: solid;
    border-width: thin;
}

fieldset{
    background: #F7F9FC;
    border-color: #99BBE8;
    border-style: solid;
    border-width: thin;
}
.info {
    background: none repeat scroll 0 0 #FFFEE6;
    color: #8F5700;
    padding: 12px;
}
.tip {
    float: left;
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

/********************fin formlarios********************************************/