
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
	{% if form is defined and not form is empty%} 
      
      {{ form_start(form) }}
       <div class="form-group row">
                            <label class="col-sm-4 col-form-label">
                                    {{ form_label(form.name) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.name) }}                               
                            </div>
       </div>
        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">
                                    {{ form_label(form.description) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.description) }}                               
                            </div>
       </div>
        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">
                                    {{ form_label(form.ctstatus) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.ctstatus) }}                               
                            </div>
       </div>
      {{ form(form) }}
      {{ form_end(form) }}
   {%endif%}
{%endblock view_content %}  

 
