
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
	<form>
		<div class="table-responsive">
		<table class="table table-bordered table-hover">			
			<thead class="thead-dark">
				<tr>
					<th scope="col">Rol</th>
					<th scope="col">Activo?</th>
				</tr>
			</thead>
			<tbody>
				{% for item in profileroles %}
				    {% set role_id=item['role_id'] %}
				    <tr>
				    	<th scope="row">{{item['role_name']}}</th>
				    	<td class="text-center"><input name="roles[{{role_id}}]" value=1 type='checkbox' {{(item['active'])?'checked=true':null}}/></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</form>

{%endblock view_content %}  
