<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hestia{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}" type="text/javascript"></script> 
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

    </head>
    <body>
        {% block body %}  {% endblock %}
        {% block javascripts %}{% endblock %}
</body>
</html>
