<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
        <a href="#tabPersonal" id="personal-tab" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tabPersonal" aria-selected="true">
            <i class="green ace-icon fa fa-male bigger-120"></i>
            Datos Personales
        </a>
    </li>
    <li  class="nav-item">
        <a href="#tabUser" id="user-tab" class="nav-link" data-toggle="tab" role="tab" aria-controls="tabuser">
            <i class="purple ace-icon fa fa-user bigger-120"></i>
            Datos Usuario
        </a>
    </li>    
</ul>