<div id="tabPersonal" class="tab-pane fade show active" aria-labelledby="personal-tab">
 <div class="container" style="padding-top:15px;">
    
                        <div class="form-group row">
                            <label for='cttypeidentification' class="col-sm-4 col-form-label">
                                    {{ form_label(form.cttypeidentification) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.cttypeidentification) }}                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for='identification' class="col-sm-4 col-form-label">
                                    {{ form_label(form.identification) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.identification) }}                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for='name' class="col-sm-4 col-form-label">
                                    {{ form_label(form.name) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.name) }}                               
                            </div>
                        </div> 

                        <div class="form-group row">
                            <label for='lastname' class="col-sm-4 col-form-label">
                                    {{ form_label(form.lastname) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.lastname) }}                               
                            </div>
                        </div>                        
                                    
         
         </div>               
                                            
</div>
      