
<div id="tabUser" class="tab-pane fade" aria-labelledby="user-tab">
    <div class="container" style="padding-top:15px;">

                        <div class="form-group row">
                            <label for='password' class="col-sm-4 col-form-label">
                                    {{ form_label(form.profile) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.profile) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for='password' class="col-sm-4 col-form-label">
                                    {{ form_label(form.password) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.password) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for='email' class="col-sm-4 col-form-label">
                                    {{ form_label(form.email) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.email) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for='ctstatususer' class="col-sm-4 col-form-label">
                                    {{ form_label(form.ctstatususer) }}
                            </label>
                            <div class="col-sm-8">                                
                                    {{ form_widget(form.ctstatususer) }}
                            </div>
                        </div>
    </div>                    
        
</div>