<!DOCTYPE html>
{#<html>#}
{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Hestia{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}
        {#<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}" type="text/javascript"></script> #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('bundles/aplicationdefault/jquery/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/bootstrap/js/bootstrap.bundle.min.js') }}"></script>



        <!-- Core plugin JavaScript-->
        <script src="{{ asset('bundles/aplicationdefault/jquery-easing/jquery.easing.min.js') }}"></script>
        <!-- Page level plugin JavaScript-->
        
        <!-- Custom scripts for all pages-->
        <script src="{{ asset('bundles/aplicationdefault/themes/sbadmin/js/sb-admin.min.js') }}"></script>
        
        
        <!-- jvalidate -->                
        <script src="{{ asset('bundles/aplicationdefault/jquery/js/jvalidate/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/jquery/js/jvalidate/jquery-additional-methods.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/jquery/js/localization/validate.messages_es.js') }}"></script>
        
        
        <!--moment.js manejo de fecha y formatos de fecha-->

        <script src="{{ asset('bundles/aplicationdefault/jquery/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/jquery/js/localization/moment.es.js') }}"></script>

            

         <!-- app js-->       

        <script src="{{ asset('bundles/aplicationdefault/app/js/helpers.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/app/js/modal.form.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/app/js/modal.viewer.js') }}"></script>
         
        
         <!-- bootstrap-datepicker js-->       
        <script src="{{ asset('bundles/aplicationdefault/bootstrap/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/bootstrap/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/aplicationdefault/bootstrap/js/bootstrap-timepicker.min.js') }}"></script>
                

         <!--Gritter-->       
         <script src="{{ asset('bundles/aplicationdefault/jquery/js/jquery.gritter.min.js') }}"></script>
        
        
        <!-- Bootstrap core CSS-->
        <link href="{{ asset('bundles/aplicationdefault/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ asset('bundles/aplicationdefault/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <!-- Page level plugin CSS-->
        
        <!-- Custom styles for this template-->
        <link href="{{ asset('bundles/aplicationdefault/themes/sbadmin/css/sb-admin.css') }}" rel="stylesheet">

        
        <!--Gritter-->       
         
         <link href="{{ asset('bundles/aplicationdefault/jquery/css/jquery.gritter.min.css') }}" rel="stylesheet">


         <!--main app css-->
         <link href="{{ asset('bundles/aplicationdefault/app/css/main.css') }}" rel="stylesheet">         
    </head>
    {#<body>#}
    {#{% block body %}  {% endblock %}#}
    {#{% block javascripts %}{% endblock %}#}
    {#</body>#}
    {#</html>#}
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}

    {% endblock navbar %}

    {% block container %}

    {% endblock container %}

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}

    {% block foot_script %}
        {% block foot_script_assetic %}

        {% endblock foot_script_assetic %}
    {% endblock foot_script %}

{% endblock body %}

{% block body_end %}
{% endblock body_end %}

</body>
</html>

