{#
   Plantilla para el despliegue de mensajes agregados en session
   Autor: Luis Malquin (luisor_mlt@hotmail.com)
#}

{% macro flash(type, message, close, use_raw, class, domain) %}
    <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }} {% if close|default(false) %}alert-dismissible{% endif %}">
    {% if close|default(false) %}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="ace-icon fa fa-times"></i>
        </button>
    {% endif %}
    {% if use_raw|default(false) %}
        {{ message|trans({}, domain|default('messages'))|raw }}
    {% else %}
        {{ message|trans({}, domain|default('messages')) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro advanced_flash(type, heading, message, close_tag, use_raw, class, domain) %}
    <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }} {% if close_tag|default(false) %}alert-dismissible{% endif %}">
    {% if close_tag|default(false) %}
        {% if close_tag == 'true' %}
            {% set close_tag = 'a' %}
        {% endif %}
        <{{ close_tag }} class="close" data-dismiss="alert" aria-hidden="true" {% if close_tag == 'a' %}href="#"{% elseif close_tag =='button' %}type="button"{% endif %}>&times;</{{ close_tag }}>
    {% endif %}
    {% if heading|default(false) %}
    <h4 class="alert-heading">{{ heading }}</h4>
    {% endif %}
    {% if use_raw|default(false) %}
        {{ message|trans({}, domain|default('messages'))|raw }}
    {% else %}
        {{ message|trans({}, domain|default('messages')) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro session_flash(close, use_raw, class, domain) %}
    {% import _self as flash_messages %}

    {% if app.session.flashbag.peekAll|length > 0 %}
        {#% set mapping = mopa_bootstrap_flash_mapping()|merge({'fos_user_success':'success'}) %#}
        {#% set mapping = app.session.flashbag.all() %#}
        {#% set flashes = {} %#}

        {#% for type in mapping|keys %#}
            {#% set flashes = flashes | merge({ (type) : app.session.flashbag.get(type) }) %#}
        {#% endfor %#}

        {% set flashes= app.session.flashbag.all() %}
        {% for type, messages in flashes %}
            {% if type == 'fos_user_success' %}
                {% set domain = 'FOSUserBundle' %}
            {% endif %}
            {% for message in messages %}
                {#{ flash_messages.flash(mapping[type], message, close, use_raw, class, domain) }#}
                {{ flash_messages.flash(type, message, close, use_raw, class, domain) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}
