{% extends '::base.html.twig' %}

{% block body %} 
    <header class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="#">{{sessionuser.fullname}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Servicios </a>
                    </li>
                    <li>
                        <a href="#">Salir</a>
                    </li>
                 
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
            
        </div>
    </header>


{% endblock %}    

