{% extends '::base.html.twig' %}

{% block body %} 
    <div style="text-align: center" >
        <br>
         <img src="{{ asset('resources/goddard/goddard.gif') }}" class="img-thumbnail" alt="Cinque Terre" width=600" height="450">
    </div>
    
{% endblock %}    

