{% extends 'AplicationDefaultBundle:Layout:layout.html.twig' %}

{% block container_fluid %}
    <div class="container-fluid">
        {% block breadcrumb %}
            {#<!-- Breadcrumbs-->#}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('_aplication_default_layout') }}">Inicio</a>
                </li>
                <li class="breadcrumb-item active">Mi Inicio</li>
            </ol>
            {#<!-- Icon Cards-->#}
        {% endblock breadcrumb %}
        <div class="row">
            <div class="col-12">
                <div style="text-align: center">
                    <br>
                    <img src="{{ asset('resources/goddard/goddard.gif') }}" class="img-thumbnail"
                         alt="Cinque Terre" width=600" height="450">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
{% endblock container_fluid %}