{% extends 'AplicationDefaultBundle:Layout:main_layout.html.twig' %}

{% block sidebar %}
    {{ render(path('_aplication_default_layout_sidebar')) }}
{% endblock sidebar %}

 {% block navbar_content %}
     {{ render(path('_aplication_default_layout_navbar')) }}
 {% endblock navbar_content %}