<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link mr-lg-2" href="#">{{ sessionuser.fullname }}
            <i class="fa fa-fw fa-user"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("_aplication_default_closesession") }}">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión</a>
    </li>
</ul>
