<ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="overflow-y:auto;overflow-x:hidden">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio">
        <a class="nav-link" href="{{ path('_aplication_default_layout') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Inicio</span>
        </a>
    </li>
    {% for objmenurole in arrayreposmenurole %}
        {% if objmenurole.menu.cttype.id==522 %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ objmenurole.menu.title|trim }}">
                <a class="nav-link" href="{{ path(objmenurole.menu.url|trim) }}"
                   target="{{ objmenurole.menu.target|trim }}">
                    <i class="fa fa-fw fa-list-ul"></i>
                    <span class="nav-link-text">{{ objmenurole.menu.title|trim }}</span>
                </a>
            </li>
            {#<li>#}
            {#<a href="{{path(objmenurole.menu.url|trim)}}"  target="{{objmenurole.menu.target|trim}}"> {{ objmenurole.menu.title|trim }}</a>#}
            {#</li>#}
        {% endif %}
        {% if objmenurole.menu.cttype.id==523 %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right"
                title="{{ objmenurole.menu.description|trim }}">
                <a class="nav-link" href="{{ objmenurole.menu.url|trim }}?user={{ sessionuser.id }}"
                   target="{{ objmenurole.menu.target|trim }}">
                    <i class="fa fa-fw fa-list-ul"></i>
                    <span class="nav-link-text">{{ objmenurole.menu.title|trim }}</span>
                </a>
            </li>
            {#<li>#}
            {#<a href="{{objmenurole.menu.url|trim}}?user={{sessionuser.id}}"  target="{{objmenurole.menu.target|trim}}"> {{ objmenurole.menu.title|trim }}</a>#}
            {#</li>#}
        {% endif %}
    {% endfor %}
</ul>
