
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
	{% if form is defined and not form is empty%} 
      {{ form(form) }}
   {%endif%}
{%endblock view_content %}  
