{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{% block view_content %}
    {% if form is defined and not form is empty %}
        {{ form_start(form) }}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.ruc) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.ruc) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.establishmentnumber) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.establishmentnumber) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.businessname) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.businessname) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.legalrepresentative) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.legalrepresentative) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.contract) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.contract) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.client) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.client) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.address) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.address) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                {{ form_label(form.phone) }}
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.phone) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock view_content %}
