
{% extends 'AplicationDefaultBundle:Layout:view.html.twig' %}

{%block view_content %}
	<form>
		<div class="table-responsive">
		<table class="table table-bordered table-hover">			
			<thead class="thead-dark">
				<tr>
					<th scope="col">Comedor</th>
					<th style="text-align: center" scope="col">Agregar</th>
				</tr>
			</thead>
			<tbody>
				{% for item in dinnerscompany %}
				    {% set dinner_id=item['dinner_id'] %}
				    <tr>
				    	<th scope="row">{{item['dinner_title']}}</th>
				    	<td class="text-center"><input name="assigndinners[{{dinner_id}}][add]" value=1 type='checkbox' {{(item['add'])?'checked=true':null}}/></td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</form>

{%endblock view_content %}  
