{% extends '::base.html.twig' %}

{% block body %} 
    {% if noexistuser==1 %}
        <script type="text/javascript">
            alert(" El nombre de usuario o la contraseña introducidos no son correctos.Vuelva a intentarlo");
        </script>
    {% endif %}
    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong> Inicia sesión para acceder</strong>
                    </div>
                    <div class="panel-body">
                        <form name="frmlogin"  id="frmlogin" method="post" action="{{path('_aplication_default_login_validateinput')}}" data-toggle="validator" >
                            <fieldset>
                                <div class="row">
                                    <div class="center-block" style="text-align: center;margin: 15px">
                                        {#                                        <img src="{{asset("bundles/main/images/logomsp.png")}}"/>										#}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10  col-md-offset-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span> 
                                                <input class="form-control" placeholder="Usuario" name="identification" id="identification" type="text" autofocus required>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                                <input class="form-control" placeholder="Contraseña" name="password" id="password" type="password" value="" required>
                                            </div>
                                        </div>


                                        <div class="form-group" >
                                            <button type="submit" class="btn btn-lg btn-primary btn-block" onclick="validateinput()">Iniciar sesión</button>


                                        </div>
                                        <div  style="padding: 1px; margin: 1px; font-size:95%; text-align: right">
                                            {#                                            <a href="#" onClick='$.redirect("{{path('_publico_registrounico_login_recuperarpassword')}}")'>#}
{#                                            Olvidó su contraseña?#}
                                            </a>
                                        </div>


                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:95%" >
                                {#       No tienes una cuenta! 
                                       <a href="#" onClick='$.redirect("{{path('_publico_registrounico_index')}}")'>
                                           Regístrate aquí
                                       </a>#}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}    

